<a href="https://colab.research.google.com/github/KodumuruRaja/Clustering-Algorithms/blob/main/DBSCAN1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df=pd.read_csv("/content/Mall_Customers.csv")

In [ ]:
df.head()

   CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

In [ ]:
x=df.iloc[:,[3,4]].values

In [ ]:
#Apply DBSCAN algorithm
from sklearn.cluster import DBSCAN
dbscan=DBSCAN(eps=3,min_samples=4)
model=dbscan.fit(x)

In [ ]:
labels=model.labels_

In [ ]:
from sklearn import metrics
# Identifying the points which make up our core points
sample_core=np.zeros_like(labels,dtype=bool)
sample_core[dbscan.core_sample_indices_]=True

In [ ]:
# Calculating the number of clusters
n_clusters=len(set(labels))-(1 if -1 in labels else 0)

In [ ]:
print(metrics.silhouette_score(x,labels))

-0.1908319132560097